<div class="container">
  <div class="card">

    
  </div>
</div>

<h1>New List</h1>

<%= simple_form_for @list, url: new_list_path, remote: true do |form| %>
  <div class="field">
    <%= form.input :name %>
  </div>

  <div class="field">
    <%= form.select :access_type, List::ACCESS_TYPES %>
  </div>

  <div class="field">
    <%= form.input :budget, label: "Budget (Optional)" %>
  </div>

  <div class="field">
    <%= form.input :tag_id, label: "Tag", collection: Tag.all %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<% if @list.errors.any? %>
  <% end %>
