<div class="container">
<h1 class="card-title h1-lg"><strong><%= @list.name %></strong></h1>
<%= link_to 'View Reviews', list_reviews_path(@list),  class:"btn btn-primary rounded"%>

<h1> $ <%= compare_budget(@list.products).to_f %></h1>

  <div class="row row-cols-1 row-cols-md-2 g-2">
    <div id="products">
      <%= render @list.products %>
    </div>

    <div class="text-center mt-3 d-flex justify-content-between">
      <%= link_to 'Back', lists_path, class: "btn btn-primary" %>
      <%= link_to 'Add Product', new_list_product_path(list_id: @list.id), class: "btn btn-primary" %>
    </div>
    <%= render 'shared/search_user' %>
    <%= render 'shared/search_products' %>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal1">
  Add product
</button>
  </div>
</div>
