<div class="show-container">
  <div class="show-list-container">
    <div class="card main-card-rounded w-100" style="border-style: none">

      <div class="card-body">

        <!--TOP MENU NAVBAR-->
        <div class="row mb-3 mt-3">
          <div class="col-2 center-icon px-1 pt-1">
            <%= link_to lists_path do %><i class="fa-solid fa-circle-chevron-left fa-xl" style="color: #7c5bae;"></i>
            <% end %>
          </div>
          <div class="col-6 pt-1 px-8">
            <h1 style='text-align: left; font-size: 18px;'><strong> <%= @list.name %> </strong></h1>
          </div>
          <div class="col-1 center-icon px-1 pt-1">
              <%= link_to edit_list_path do %><i class="fa-solid fa-pen-to-square" style="color: #7c5bae;"></i>
              <% end %>
          </div>
          <!--ADD A NEW PRODUCT-->
          <div class="col-1 center-icon px-1 pt-1">
            <%=render 'shared/search_user' %>
          </div>
          <div class="col-1 center-icon px-1 pt-1">
            <%= link_to list_path(@list), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %><i class="fa-solid fa-trash" style="color: #da0b20;"></i><% end %>
          </div>
        </div>

        <!--INVITED GUESTS SECTION-->
        <!--INVITED GUESTS SECTION-->
        <% if @list_guests.any? %>
          <div class="row m-3">
            <div class="col-12">
              <div class="row">
                <div class="col-10 mt-2">
                  <h1 style="text-align: left; font-size: 15px;"><strong>Guests</strong></h1>
                </div>
              </div>
              <div class="row">
                <%= render partial: 'shared/list_guest', collection: @list_guests, as: :list_guest, locals: { list: @list } %>
              </div>
            </div>
          </div>
        <% end %>

        <!--BUDGET SECTION AND LIST CREATION DATE-->
        <div class="row mb-3 mt-5">
          <div class="col-12" style="text-align: center">
            <p style="font-size: 10px">Created at <%= @list.created_at.strftime("%B %d, %Y %H:%M") %></p>
            <h2 style="font-size: 15px">Total budget</h2>
            <h1 style="font-size: 30px"><strong>$<%= @list.budget %></strong><h1>
          </div>
        </div>

        <!--BUDGET SPENDING PROGRESS BAR-->
        <div class="row m-3">
          <div class="col-12 card budget-card-bg">
            <div class="row">
              <div class="col-6"><p id="titles"><i class="fa-solid fa-circle fa-sm" style="color: #1edd88;"></i> Left to spend</p></div>
              <div class="col-6"><p id="titles"><i class="fa-solid fa-circle fa-sm" style="color: #0d6efd;"></i> Budget spent</p></div>
            </div>
            <div class="row">
              <div class="col-6"><p id="amounts">$<span id='element-left-spent-amount' data-total-left-spent-amount="<%= left_to_spend(@list.budget, list_price_sum(@list.products)) %>"><%= left_to_spend(@list.budget, list_price_sum(@list.products)) %></span></p></div>
              <div class="col-6"><p id="spent_amounts">$<span id='element-spent-amount' data-total-spent-amount="<%= @list.spent %>"><%= @list.spent %></span></p></div>
            </div>
            <div class="row">
              <div class="col-12 mb-4">
                <% if surpass_budget(list_price_sum(@list.products), @list.budget) == false %>
                  <div class="progress" style="">
                    <!--BUDGET SPENT-->
                    <div class="progress-bar" role="progressbar" style="width:<%= spent_percentage(list_price_sum(@list.products), @list.budget) %>%;" aria-valuenow="<%= spent_percentage(list_price_sum(@list.products), @list.budget) %>" aria-valuemin="0" aria-valuemax="100">
                    </div>
                    <!--REMAINING BUDGET TO SPEND-->
                    <div class="progress-bar bg-success" role="progressbar" style="width:<%= remaining_budget_percentage(left_to_spend(@list.budget, list_price_sum(@list.products)), @list.budget)%>%;" aria-valuenow="<%= remaining_budget_percentage(left_to_spend(@list.budget, list_price_sum(@list.products)), @list.budget)%>" aria-valuemin="0" aria-valuemax="100">
                    </div>
                  </div>
                <% else %>
                  <div class="progress" style="">
                    <!--BUDGET SPENT-->
                    <div class="progress-bar bg-danger" role="progressbar" style="width:<%= spent_percentage(list_price_sum(@list.products), @list.budget) %>%;" aria-valuenow="<%= spent_percentage(list_price_sum(@list.products), @list.budget) %>" aria-valuemin="0" aria-valuemax="100">
                    </div>
                    <!--REMAINING BUDGET TO SPEND-->
                    <div class="progress-bar bg-danger" role="progressbar" style="width:<%= remaining_budget_percentage(left_to_spend(@list.budget, list_price_sum(@list.products)), @list.budget)%>%;" aria-valuenow="<%= remaining_budget_percentage(left_to_spend(@list.budget, list_price_sum(@list.products)), @list.budget)%>" aria-valuemin="0" aria-valuemax="100">
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>

        <!--PRODUCT LIST SECTION-->
        <div class="row m-3 mb-5">
          <div class="col-10 mt-2"><h1 style="text-align: left; font-size: 15px"><strong>Item List</strong></h1></div>
          <div class="col-2 mt-2"><%= render 'shared/search_products' %></div>
          <% if @list.products.empty? %>
          <div class="col-12 card budget-card-bg">
            <div style="text-align: center" class="my-3">
              <img src="<%=image_url("empty_list.png")%>" alt="No products yet" style="width: 225px; height: 225px" class="no-item-center-image mb-3"/>
              <h1><strong>Empty List</strong></h1>
              <p style="font-size: 15px" class="px-3">Your shopping list is currently empty. Feel free to add products to your list.</p>
            </div>
          </div>
          <% else %>
            <div id="products">
              <% sorted_list = @list.products.order(:created_at) %>
              <% sorted_list.each do |product| %>
                <%= render "products/product", product: product %>
              <% end %>
            </div>
          <% end %>
          <%= link_to 'View Reviews', list_reviews_path(@list),  class:"violet-button mt-3"%>
        </div>

      </div>

    </div>
  </div>
  <%= render 'shared/search_products' %>
</div>

<script>
  let totalSpent = parseInt(document.querySelector('#element-spent-amount').dataset.totalSpentAmount, 10);
  let totalLeftSpent = parseInt(document.querySelector('#element-left-spent-amount').dataset.totalLeftSpentAmount, 10);

  document.querySelectorAll(".product-checkbox").forEach(function(checkbox) {
    checkbox.addEventListener("change", function() {
      const productId = this.dataset.productId;
      const checked = this.checked;
      const productPrice = parseInt(this.dataset.productPrice, 10);
      const url = `/lists/<%= @list.id %>/products/${productId}`;

      fetch(url, {
        method: 'PATCH',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').content
        },
        body: JSON.stringify({ product: { checked: checked, list_id: '<%= @list.id %>' } })
      })
        .then(response => response.json())
        .then(data => {
          if (data.status === 'ok') {
            console.log(`Product ${checked ? 'checked' : 'unchecked'} successfully`);
            if (checked) {
              totalSpent += productPrice;
              totalLeftSpent -= productPrice;
            } else {
              totalSpent -= productPrice;
              totalLeftSpent += productPrice;
            }
            document.querySelector('#element-spent-amount').innerHTML = `${totalSpent}`;
            document.querySelector('#element-left-spent-amount').innerHTML = `${totalLeftSpent}`;
          } else {
            console.error("Failed to update product");
          }
        })
        .catch(error => console.error("Error:", error));
    });
  });
</script>
