<div class="container">
  <h1><%= @list.name %></h1>

<div class="card text-center mb-3">
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">View Reviews</a>
  </div>
  <div class="card-footer text-muted">
    <a href="#" class="btn btn-primary">Add Reviews</a>
  </div>
</div>

  <ul>
    <% @list.products.each do |item| %>
      <p><%= item.name %></p>
      <p><%= item.brand %></p>
      <p><%= item.price %></p>
      <p><%= item.quantity %></p>
      <%= link_to 'Edit item', edit_list_path(@list) %>
    <% end %>
  </ul>
  <%= link_to 'Back', lists_path %>
  <%= link_to 'Add Product', new_list_product_path(list_id: @list.id) %>
  <!--Modal Trigger button-->
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Review</button>
  <!--Modal-->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Rate this list</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= simple_form_for [@list, @review], url: list_reviews_path(@list) do |f| %>
            <%= f.input :comment, label: 'Comment:' %>
            <%= f.input :rating, collection: (1..5).to_a, label: "Rate this list", input_html: {data: {controller: "star-rating"}} %>
          <div class="d-grid gap-2 d-md-block">
            <%= f.button :submit, "Post Review", class: 'btn btn-primary'%>
          </div>
          <% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>
