<div class="container">

<div class="card text-center mb-3">
  <div class="card-body">
    <h5 class="card-title"><%= @list.name %></h5>
    <!--<div class="card-text" data-controller="star-rating"><%= @list.average_rating%></div>-->
    <h1 style="font-size: 80px" class="mb-1"><strong><%= @list.average_rating %></strong></h1>
    <div class="star-rating-container mb-3">
      <% rating = @list.average_rating %>
      <% full_stars = rating.floor %>
      <% half_star = (rating - full_stars >= 0.5) ? 1 : 0 %>
      <% empty_stars = 5 - full_stars - half_star %>

      <% full_stars.times do %>
        <span class="star full-star"></span>
      <% end %>

      <% if half_star == 1 %>
        <span class="star half-star"></span>
      <% end %>

      <% empty_stars.times do %>
        <span class="star empty-star"></span>
      <% end %>
    </div>
    <%= link_to 'View Reviews', list_reviews_path(@list),  class:"btn btn-primary"%>
  </div>
</div>

<ul>
  <% @list.products.each do |item| %>
  <li>
    <p><%= item.name %></p>
    <p><%= item.brand %></p>
    <p><%= item.price %></p>
    <p><%= item.quantity %></p>
    <%= link_to 'Edit item', edit_list_product_path(@list, item) %>
    <%= button_to 'Delete item', list_product_path(@list, item), method: :delete, data: { turbo_confirm: 'Are you sure?' } %>
    </li>
  <% end %>
</ul>
<%= link_to 'Back', lists_path %>
<%= link_to 'Add Product', new_list_product_path(list_id: @list.id) %>

<%= render 'shared/search_user' %>
</div>
