<div class="show-container">
  <div class="show-list-container">
    <div class="card main-card-rounded w-100" style="border-style: none">

      <div class="card-body">

        <!--TOP MENU NAVBAR-->
        <div class="row mb-3 mt-3">
          <div class="col-2 center-icon px-1 pt-1">
            <%= link_to lists_path do %><i class="fa-solid fa-circle-chevron-left fa-xl" style="color: #7c5bae;"></i><% end %>
          </div>
          <div class="col-7 pt-1">
            <h1 style='text-align: center; font-size: 18px;'><strong> <%= @list.name %>! </strong></h1>
          </div>
          <div class= 'd-flex flex-row-reverse'>
          <!--ADD GUEST OR SHARE LIST-->
            <%=render 'shared/search_user' %>
              <!--ADD A NEW PRODUCT-->
            <%=render 'shared/search_products' %>
            <div class="col-2 center-icon px-1 pt-1">
              <%= link_to edit_list_path do %>
                <i class="fa-solid fa-pen-to-square" style="color: #7c5bae;"></i>
              <% end %>
            </div>

          </div>

        <!--BUDGET SECTION AND LIST CREATION DATE-->
        <div class="row mb-3 mt-5">
          <div class="col-12" style="text-align: center">
            <p style="font-size: 10px">Created at <%= @list.created_at.strftime("%B %d, %Y %H:%M") %></p>
            <h2 style="font-size: 15px">Total budget</h2>
            <h1 style="font-size: 30px"><strong>$<%= @list.budget %></strong><h1>
          </div>
        </div>

        <!--BUDGET SPENDING PROGRESS BAR-->
        <div class="row m-3">
          <div class="col-12 card budget-card-bg">
            <div class="row">
              <div class="col-6"><p id="titles"><i class="fa-solid fa-circle fa-sm" style="color: #1edd88;"></i> Left to spend</p></div>
              <div class="col-6"><p id="titles"><i class="fa-solid fa-circle fa-sm" style="color: #0d6efd;"></i> Budget spent</p></div>
            </div>
            <div class="row">
              <div class="col-6"><p id="amounts">$<%= left_to_spend(@list.budget, list_price_sum(@list.products)) %></p></div>
              <div class="col-6"><p id="amounts">$<%= list_price_sum(@list.products) %></p></div>
            </div>
            <div class="row">
              <div class="col-12 mb-4">
                <div class="progress" style="">
                  <!--BUDGET SPENT-->
                  <div class="progress-bar" role="progressbar" style="width:<%= spent_percentage(list_price_sum(@list.products), @list.budget) %>%;" aria-valuenow="<%= spent_percentage(list_price_sum(@list.products), @list.budget) %>" aria-valuemin="0" aria-valuemax="100"></div>
                  <!--REMAINING BUDGET TO SPEND-->
                  <div class="progress-bar bg-success" role="progressbar" style="width:<%= remaining_budget_percentage(left_to_spend(@list.budget, list_price_sum(@list.products)), @list.budget)%>%;" aria-valuenow="<%= remaining_budget_percentage(left_to_spend(@list.budget, list_price_sum(@list.products)), @list.budget)%>" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--PRODUCT LIST SECTION-->

         <%= render 'shared/products-list' %>
     

      </div>

    </div>
  </div>

  <%= render 'shared/search_user' %>
    <%= render 'shared/search_products' %>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal1">
  Add product
</button>
</div>
