<div class="show-container">
  <div class="show-list-container">
    <div class="card main-card-rounded w-100" style="border-style: none">

      <div class="card-body">

        <!--TOP MENU NAVBAR-->
        <div class="row mb-3 mt-3">
          <div class="col-2 center-icon px-1 pt-1">
            <%= link_to lists_path do %><i class="fa-solid fa-circle-chevron-left fa-xl" style="color: #7c5bae;"></i><% end %>
          </div>
          <div class="col-6 pt-1 px-8">
            <h1 style='text-align: left; font-size: 18px;'><strong> <%= @list.name %>! </strong></h1>
          </div>
          <div class="col-1 center-icon px-1 pt-1">
              <%= link_to edit_list_path do %><i class="fa-solid fa-pen-to-square" style="color: #7c5bae;"></i><% end %>
          </div>
          <!--ADD A NEW PRODUCT-->
          <div class="col-1 center-icon px-1 pt-1">
            <%=render 'shared/search_user' %>
          </div>
          <div class="col-1 center-icon px-1 pt-1">
            <%= link_to list_path(@list), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %><i class="fa-solid fa-trash" style="color: #da0b20;"></i><% end %>
          </div>
        </div>

        <!--BUDGET SECTION AND LIST CREATION DATE-->
        <div class="row mb-3 mt-5">
          <div class="col-12" style="text-align: center">
            <p style="font-size: 10px">Created at <%= @list.created_at.strftime("%B %d, %Y %H:%M") %></p>
            <h2 style="font-size: 15px">Total budget</h2>
            <h1 style="font-size: 30px"><strong>$<%= @list.budget %></strong><h1>
          </div>
        </div>

        <!--BUDGET SPENDING PROGRESS BAR-->
        <div class="row m-3">
          <div class="col-12 card budget-card-bg">
            <div class="row">
              <div class="col-6"><p id="titles"><i class="fa-solid fa-circle fa-sm" style="color: #1edd88;"></i> Left to spend</p></div>
              <div class="col-6"><p id="titles"><i class="fa-solid fa-circle fa-sm" style="color: #0d6efd;"></i> Budget spent</p></div>
            </div>
            <div class="row">
              <div class="col-6"><p id="amounts">$<%= left_to_spend(@list.budget, list_price_sum(@list.products)) %></p></div>
              <div class="col-6"><p id="amounts">$<%= list_price_sum(@list.products) %></p></div>
            </div>
            <div class="row">
              <div class="col-12 mb-4">
                <div class="progress" style="">
                  <!--BUDGET SPENT-->
                  <div class="progress-bar" role="progressbar" style="width:<%= spent_percentage(list_price_sum(@list.products), @list.budget) %>%;" aria-valuenow="<%= spent_percentage(list_price_sum(@list.products), @list.budget) %>" aria-valuemin="0" aria-valuemax="100"></div>
                  <!--REMAINING BUDGET TO SPEND-->
                  <div class="progress-bar bg-success" role="progressbar" style="width:<%= remaining_budget_percentage(left_to_spend(@list.budget, list_price_sum(@list.products)), @list.budget)%>%;" aria-valuenow="<%= remaining_budget_percentage(left_to_spend(@list.budget, list_price_sum(@list.products)), @list.budget)%>" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--PRODUCT LIST SECTION-->
        <div class="row m-3">
          <div class="col-10 mt-2"><h1 style="text-align: left; font-size: 15px"><strong>Item List</strong></h1></div>
          <div class="col-2 mt-2"><%= render 'shared/search_products' %></div>
          <% if @list.products.empty? %>
          <div class="col-12 card budget-card-bg">
            <div style="text-align: center" class="my-3">
              <img src="<%=image_url("empty_list.png")%>" alt="No products yet" style="width: 225px; height: 225px" class="no-item-center-image mb-3"/>
              <h1><strong>Empty List</strong></h1>
              <p style="font-size: 15px" class="px-3">Your shopping list is currently empty. Feel free to add products to your list.</p>
            </div>
          </div>
          <% else %>
            <% @list.products.each do |product| %>
              <div class="col-12 card budget-card-bg">
                <div class="row g-0 m-3">
                  <div class="col-2"><input class="form-check-input me-1" type="checkbox" value="<%= product.id %>"><%= 'checked' if product.checked %></div>
                  <div class="col-8" style="text-align: left"><%= product.name %></div>
                  <div class="col-2" style="text-align: right"><%= link_to edit_list_product_path(@list, product) do %><i class="fa-solid fa-ellipsis fa-xl" style="color: #7c5bae"></i><% end %></div>
                  </div>
                </div>
              <% end %>
          <% end %>
          </div>
          <%= link_to 'View Reviews', list_reviews_path(@list),  class:"violet-button mt-3"%>
        </div>

      </div>

    </div>
  </div>
  <%= render 'shared/search_products' %>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    let productCheckboxes = document.querySelectorAll('input[type="checkbox"]');

    productCheckboxes.forEach(function(checkbox) {
      checkbox.addEventListener('change', function() {
        localStorage.setItem(checkbox.value, checkbox.checked);
      });

      let isChecked = localStorage.getItem(checkbox.value) === 'true';
      checkbox.checked = isChecked;
    });
  });
</script>
