<div class="container">

<div class="card rounded text-center mb-3">
  <div class="card-body">
    <h5 class="card-title"><%= @list.name %></h5>
    <!--<div class="card-text" data-controller="star-rating"><%= @list.average_rating%></div>-->
    <h1 style="font-size: 80px" class="m-0"><strong><%= @list.average_rating %></strong></h1>
    <div class="star-rating-container m-0">

      <% rating = @list.average_rating %>
      <% full_stars = rating.floor %>
      <% half_star = (rating - full_stars >= 0.5) ? 1 : 0 %>
      <% empty_stars = 5 - full_stars - half_star %>

      <% full_stars.times do %>
        <span class="star full-star"></span>
      <% end %>

      <% if half_star == 1 %>
        <span class="star half-star"></span>
      <% end %>

      <% empty_stars.times do %>
        <span class="star empty-star"></span>
      <% end %>
    </div>

   <%= link_to lists_path, class: "orange" do %>
  <i class="fa-solid fa-eye"></i>
 <% end %>
   <i class="fa-solid fa-comments"></i>


    <p><small class="text-muted">Based on <%= @list.reviews.count %> Reviews </small></p>
    <%= link_to 'View Reviews', list_reviews_path(@list),  class:"btn btn-primary rounded"%>

  </div>

  <div class="row row-cols-1 row-cols-md-2 g-2">
    <% @list.products.each do |item| %>
      <div class="col">
        <div class="card shadow-sm">  <div class="card-body">
            <h5 class="card-title"><strong><%= item.name %></strong></h5>
            <p class="card-text">Brand: <%= item.brand %></p>
            <p class="card-text">Price: <%= item.price %></p>
            <p class="card-text">Quantity: <%= item.quantity %></p>
            <div class="d-flex justify-content-between">
              <%= link_to edit_list_product_path(@list, item), class: "green" do %>
                <i class="fa-regular fa-pen-to-square"></i>
              <% end %>
              <%= link_to list_product_path(@list, item), method: :delete, data: { turbo_confirm: 'Are you sure?' }, class: "orange" do %>
               <i class="fas fa-trash"></i>
              <% end %>

            </div>
          </div>
        </div>
      </div>
    <% end %>

  <div class="text-center mt-3 d-flex justify-content-between">
    <%= link_to lists_path, class: "green" do %>
      <i class="fas fa-arrow-left icon-white"></i>
    <% end %>
    <%= link_to new_list_product_path(list_id: @list.id), class: "green" do %>
  <i class="fas fa-plus icon-white"></i>
<% end %>
  </div>

  <%= render 'shared/search_user' %>
</div>
