<!-- Button trigger modal -->
<div>
  <i class="fa-solid fa-user-plus" style="color: #7c5bae; cursor: pointer;" data-toggle="modal" data-target="#exampleModal"></i>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog custom-modal" role="document">
    <div class="modal-content" data-controller="search-email">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Guest to List</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_with url: list_list_guests_path(@list), method: :post, local: true do |form| %>
          <div class="field">
            <%= form.label :guest_name, "Enter Guest Name" %>
            <%= form.text_field :guest_name, id: 'guest-name-input', placeholder: 'Type guest name', class: 'form-control' %>
          </div>

          <div class="actions mt-3">
            <%= form.submit 'Add Guest', class: 'btn btn-primary rounded-button' %>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary rounded-button" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
  const form = document.querySelector('form');
  const guestNameInput = document.getElementById('guest-name-input');

  form.addEventListener('submit', function(event) {
    event.preventDefault();

    const guestName = guestNameInput.value.trim();
    const listId = <%= @list.id %>; // Asegúrate de que @list esté definido en tu controlador

    fetch(`/lists/${listId}/list_guests/check_guest?name=${encodeURIComponent(guestName)}`)
      .then(response => response.json())
      .then(data => {
        if (!data.valid_user) {
          alert('No user found with this name.');
        } else if (data.exists) {
          alert('This guest is already in the list.');
        } else {
          form.submit();
        }
      })
      .catch(error => {
        console.error('Error:', error);
        alert('An error occurred while checking the guest. Please try again.');
      });
  });
});
</script>
