<div class="col-12 card budget-card-bg">
  <div class="row g-0 m-3">
    <div class="col-2">
      <input type="checkbox"
             name="product-<%= product.id %>"
             id="product-<%= product.id %>"
             class="form-check-input me-1 product-checkbox"
             data-is-checked = "<%= product.checked %>"
             data-product-id="<%= product.id %>"
             <%= 'checked' if product.checked == true %>>
    </div>
    <div class="col-8" style="text-align: left"><%= product.name %></div>
    <div class="col-2" style="text-align: right">
      <%= link_to edit_list_product_path(@list, product) do %>
        <i class="fa-solid fa-ellipsis fa-xl" style="color: #7c5bae"></i>
      <% end %>
    </div>
  </div>
</div>
<script>
  document.querySelectorAll(".product-checkbox").forEach(function(checkbox) {
    checkbox.addEventListener("change", function() {
      const previousValue = this.dataset.isChecked === 'true'
      if (previousValue !== checkbox.checked) {
        const productId = this.dataset.productId;
        const checked = this.checked;
        const url = `/lists/<%= @list.id %>/products/${productId}`;

        fetch(url, {
          method: 'PATCH',
          headers: {
            'Content-Type': 'application/json',
            'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').content
          },
          body: JSON.stringify({ product: { checked: checked, list_id: '<%= @list.id %>' } })
        })
          .then(response => response.json())
          .then(data => {
            console.log(data);
            if (data.status === 'ok') {
              console.log(`Product ${checked ? 'checked' : 'unchecked'} successfully`);
            } else {
              console.error("Failed to update product");
            }
          })
          .catch(error => console.error("Error:", error));
      }
    });
  });
</script>
