<div class="container">
  <% @reviews.each do |review| %>
  <ul>
    <li>Comment: <%= review.comment %></li>
    <li>Rating: <%= review.rating %></li>
  </ul>
  <% end %>
  <button type="button" class="btn btn-primary m-2" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Review</button>
  <%= link_to 'Back', list_path(@list), class:"btn btn-primary m-2" %>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Rate this list</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= simple_form_for [@list, @review], url: list_reviews_path(@list) do |f| %>
            <%= f.input :comment, label: 'Comment:' %>
            <%= f.input :rating, collection: (1..5).to_a, label: "Rate this list", input_html: {data: {controller: "star-rating"}} %>
          <div class="d-grid gap-2 d-md-block">
            <%= f.button :submit, "Post Review", class: 'btn btn-primary'%>
          </div>
          <% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
