<div class="container w-50 shadow border p-3 mt-5">
  <%= simple_form_for [@list, @review], url: list_reviews_path do |f| %>
    <%= f.input :comment, label: 'Comment:' %>
    <%= f.input :rating, label: 'Rating', collection: 0..5, prompt: "Provide a rating" %>
    <div class="d-grid gap-2 d-md-block">
      <%= f.button :submit, "Post Review", class: 'btn btn-primary'%>
      <%= link_to 'Back', list_reviews_path, class:'btn btn-outline-primary m-3'%>
    </div>
  <% end %>
</div>
